.carousel {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  height: 600px;
  border-radius: 12px;
}

.carouselSlide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
